@mixin heading($color, $borderColor: var(--text)) {
    transition: color 1s, text-shadow 1s;
    color: $color;
    text-shadow: 2px 2px 0 $borderColor,
                2px -2px 0 $borderColor,
                -2px 2px 0 $borderColor,
                -2px -2px 0 $borderColor;
}

@mixin break($size) {
    @if $size == "tablet" {
        @media all and (min-width: 768px) {@content};
    } else {
        @media all and (min-width: 1024px) {@content};
    }
}

@mixin shadow() {
    box-shadow: 5px 5px 0 rgba(black, .4);
}

@mixin scaleHover() {
    transition: all 125ms;
    &:hover {
        transform: scale(1.1);
    }
}

@mixin notlast() {
    &:not(:last-child) {@content};
}